@import "main.css";
@import "navbar.css";
@import "timeline.css";

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/home/1.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

header .intro-button {
    padding-top: 600px;
    padding-bottom: 50px;
}

section {
    padding: 50px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 100px 0;
    }
}

.motivation-heading {
    margin: 15px 0;
    text-transform: none;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #ae3910;
}
